@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
  font-family: "Quicksand";
}
*{
    margin: 0%;
}
marquee{
    padding: 10px 0px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #111111;
    position: absolute;

}
header{
    margin: 0px 141px;
    position: relative;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
}
.navd1{
    display: flex;
    align-items: center;
}
.navd1>img{
    width: 62px;
    height: 62px;
    margin-right: 11px;
}
.navd1{
    font-size: 2rem;
    font-weight: 700;
}
.navd2>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navd2 li{
    list-style: none;
    margin: 0px 32px;
}
.navd2 a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}
.navd2 #l1{
    color: #FEA301;
}
.navd2 #l2{
    color: #01ACFD;
}
.navd2 #l3{
    color: #05D4DF;
}
.navd2 #l4{
    color: #5D58EF;
}
.navd3>button{
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
    background-color: #FEA301;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.navd2 img{
    width: 30px;
    height: 30px;
}
.navd2 .dropdown{
    display: none;
    position: absolute;
}
.navd2 li:hover .dropdown{
    display: block;
}
.dropdown li{
    padding: 20px 10px;
}
.navd2 #l5{
    display: none;
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bsec1 h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: #111111;
    margin-bottom: 24px;
    width: 640px;
    height: auto;
}
.bsec1 h1>#bs1{
    color:#FEA301;
}
.bsec1 h1>#bs2{
    color:#01ACFD;
}
.bsec1 p{
    font-size: 1.25rem;
    font-weight: 400;
    color: #111111;
    margin-bottom: 24px;
    width: 640px;
    height: auto;
}
.bsec1 button{
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #111111;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
}
.bsec2 img{
    width: 468px;
    height: 575px;
}



/* Mobile View */
@media screen and (max-width:576px) {
    header{
        margin: 0px auto;
        padding-top: 45px;
    }
    /* navbar */
    .navbar{
        border: #FEA301 1px solid;
        padding: 12px 16px;
    }
    .navd2 #l5{
        display: block;
    }
    .dlist{
        display: none;
    }
    .navd1>img{
        width: 46px;
        height: 46px;
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
        padding: 12px 16px;
    }
    .bsec1{
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .bsec1 h1{
        width: 100%;
        height: auto;
    }
    .bsec1 p{
        width: 100%;
        height: auto;
    }
    .bsec2 img{
        width: 100%;
        height: auto;
    }
}