@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand{
  font-family: "Quicksand";
}
.raleway{
  font-family: "Raleway"
}
*{
    margin: 0%;
}
.main1{
    background-image: url(../assets/bg.png);
}
.main2{
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}

/* Standard Curriculum */
.standard{
    padding-bottom: 60px;
    margin: 0px 141px; 
}
.sc1 h1{
    font-size: 2.8rem;
    font-weight: 700;
    padding: 60px 0px;
    padding-bottom: 80px;
    text-align: center;
}
.sc2{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    padding-bottom: 80px;
}
.sc2 .card1{
    background-image: linear-gradient(to bottom, #DEF5FF ,30% ,#FFFFFF);
    padding: 53px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border: #DEF5FF solid 0.5px;
    border-radius: 19px;
}

.card1 h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
}
.card1 p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #808080;
}
.card1 a{
    color: #64C8FF;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.sc2 .card2{
    background-image: linear-gradient(to bottom, #FFF4DC ,30% ,#FFFFFF);
    padding: 53px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border: #FFF4DC solid 0.5px;
    border-radius: 19px;
}
.card2 h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
}
.card2 p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #808080;
}
.card2 a{
    color: #F0AA00;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.sc2 .card3{
    background-image: linear-gradient(to bottom, #F2E8FF ,30% ,#FFFFFF);
    padding: 53px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border: #F2E8FF solid 0.5px;
    border-radius: 19px;
}
.card3 h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
}
.card3 p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #808080;
}
.card3 a{
    color: #8700FF;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.sc3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sc3 button{
    background-color: #FEA301;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    padding: 17px 22px;
}
.sc3 button img{
    width: 15.38px;
    height: auto;
}

/* Our Stories */
.stories{
    margin: 0px 141px;
}
.sh h1{
    font-size: 2.8rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    padding-bottom: 80px;
}
.scards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.scard1{
    border: none;
    border-radius: 16px;
    position: relative;
    width: 756px;
    height: auto;
}
.smallc1{
    position: relative;
    width: 406px;
    height: auto;
}
.smallc2{
    position: relative;
    width: 406px;
    height: auto;
}
.smallc3{
    position: relative;
    width: 406px;
    height: auto;
}
.smallc4{
    position: relative;
    width: 406px;
    height: auto;
}
.sc11 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    height: auto;
}
.sc12 button{
    font-size: 1rem;
    font-weight: 400;
    background-color: #3CD8E8;
    color: #FFFFFF;
    border: none;
    border-radius: 47px;
    padding: 14px 19px;
}
.sc12{
    position: absolute;
    top: 62%;
    left: 38px;
}
.sc13{
    padding: 58px 38px;
    display: flex;
    flex-direction: column;
    gap: 47px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.sc13 h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}
.sc13 p{
    font-size: 1rem;
    font-weight: 400;
    color: #666666;
}
.scard2{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

/* Small Cards */
.scardd2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;;
}
.scardd1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.btn{
    position: absolute;
    top: 64%;
    left: 38px;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #95B226;
    padding: 9.5px 19px ;
    border: none;
    border-radius: 47px;
}
.bbtn{
    top: 64%;
    left: 38px;
    position: absolute;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #5D58F0;
    padding: 9.5px 19px ;
    border: none;
    border-radius: 47px;
}
.sd{
    padding: 28px 38px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #FFFFFF;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.bri{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    height: auto;
}

.storybtn button{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 61px;
    border: none;
    border-radius: 12px;
    background-color: #111111;
    color:#FFFFFF ;
}
.storybtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
}






/* Mobile View */
@media screen and (max-width:576px) {
    /* Standard Curriculum */

    .standard{
        padding: 12px 16px;
        margin: 0px auto;
    }
    .sc2{
        flex-direction: column;
        gap: 0%;
    }
    .sc1 h1{
        padding: 0%;
    }
    .sc3{
        display: none;
    }
}